<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{ content_for_header }}
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: Arial, sans-serif;
      }

      header {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
      }

      footer {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
        bottom: 0;
        width: 100%;
      }

      .banner-custom {
        background-color: #f0f0f0;
        color: #333;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding: auto;
      }

      .banner-custom p {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .banner-custom button {
        background-color: #333;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    {% comment %} HEADER {% endcomment %}
    <header>
      <p>HEADER</p>
    </header>

    {% comment %} BANNER {% endcomment %}
    <div class="banner-custom">
      <p>BANNER</p>
      <button onclick="verificarLocalSotrage()">ACCEDER UBICACION</button>
    </div>

    <!-- Este elemento es REQUERIDO por Shopify -->
    <main role="main">
      {% comment %} {{ content_for_layout }} {% endcomment %}
    </main>

    {% comment %} FOOTER {% endcomment %}
    <footer>FOOTER</footer>

    {% comment %} Colecciones {% endcomment %}
    <section class="coleccion-productos"></section>

    {% comment %} BACKGROUND OVERLAY {% endcomment %}
    <div class="background-overlay-custom">
      <div class="background-cursor-wrapper">
        <div class="background-cursor-wrapper_outer">
          <div class="background-cursor-wrapper_inner">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="20" height="20">
              <g class="nc-icon-wrapper" fill="#ffffff" transform="translate(0.5, 0.5)">
                  <line fill="none" stroke-width="6" x1="46" y1="2" x2="2" y2="46"/>
                  <line fill="none" stroke-width="6" x1="46" y1="46" x2="2" y2="2"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="window-solicitud-ubicacion">
        <div class="select-location">
          <img src="{{ 'logoPizzaHut.png' | asset_url }}" alt="Logo Superior" class="logo-superior">
          <p class="welcome-text">
            PERMÍTANOS ACCEDER A SU UBICACIÓN PARA MOSTRARLE OFERTAS Y PRODUCTOS DE SU SUCURSAL MÁS CERCANA.
          </p>
          <img src="{{ 'Logo-footer.svg' | asset_url }}" alt="Logo Inferior" class="logo-inferior">
        </div>
        <div class="options-buttons-location">
          <button class="btn-cancel">CANCELAR</button>
          <button class="btn-confirm">CONFIRMAR</button>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script>
      const bodega = [
        {
          id: 1,
          nombre: 'BANZER 3ER ANILLO',
          direccion: 'Tercer Anillo Externo',
          telefono: '78452415',
          coodenadas: [
            '-17.757619811485124, -63.178738886607285',
            '-17.75765499316851, -63.17862806006227',
            '-17.75774159514593, -63.178656476818574',
            '-17.757703707122307, -63.178764461706834',
          ],
        },
        {
          id: 2,
          nombre: 'BANZER KM 8.5',
          direccion: '8R2Q+2XH',
          telefono: '78452415',
          coodenadas: [
            '-17.700010201209256, -63.160219543801524',
            '-17.70001425690541, -63.16001091439781',
            '-17.70028399322846, -63.160006655825235',
            '-17.700277909382375, -63.160228058799945',
          ],
        },
        {
          id: 3,
          nombre: 'LAS PALMAS',
          direccion: 'Doble vía La Guardia',
          telefono: '78452415',
          coodenadas: [
            '-17.807739639953184, -63.204363371533816',
            '-17.807879040104435, -63.20423452558605',
            '-17.808018440776213, -63.20440046307397',
            '-17.80788833388888, -63.20452930894428',
          ],
        },
        {
          id: 4,
          nombre: 'SAN MARTIN',
          direccion: 'Av. San Martin 2200',
          telefono: '78452415',
          coodenadas: [
            '-17.758879666207005, -63.19948013726218',
            '-17.75874037624734, -63.199261908736986',
            '-17.758939362008405, -63.19914118651445',
            '-17.759078652124288, -63.19935941519224',
          ],
        },
        {
          id: 5,
          nombre: 'SANTOS DUMONT',
          direccion: 'Av Santos Dumont 3228',
          telefono: '78452415',
          coodenadas: [
            '-17.820341605927634, -63.184337508678894',
            '-17.820367373101746, -63.1842179677349',
            '-17.820558480382306, -63.184245033386134',
            '-17.82054559681319, -63.18436682994885',
          ],
        },
      ];

      window.SHOP_ASSETS = {
        logoPizzaHut: "{{ 'logoPizzaHut.png' | asset_url }}",
        logoFooter: "{{ 'Logo-footer.svg' | asset_url }}",
      };

      function verificarLocalSotrage() {
        const localData = localStorage.getItem('cliente-coordenadas');
        if (localData) {
          const data = JSON.parse(localData);
          const { lat, lng } = data;
          const coordenadas = `${lat}, ${lng}`;
          console.log(coodenadas);
        } else {
          // Verificamos si el navegador soporta geolocalización
          console.log('No hay datos en el local storage');
          if (!navigator.geolocation) {
            console.warn('Tu navegador no soporta geolocalización');
            return;
          }

          // Solicitamos la ubicación actual
          navigator.geolocation.getCurrentPosition((position) => {
            // Obtenemos la ubicación actual
            const ubicacionActual = {
              latitud: position.coords.latitude,
              longitud: position.coords.longitude,
            };

            // Guardamos la ubicación en el local storage
            localStorage.setItem('cliente-coordenadas', JSON.stringify(ubicacionActual));
          });
        }
      }
    </script>
  </body>
</html>
